%p#notice= notice

%p
  %b Item:
  = @property.item
%p
  %b Name:
  = @property.name
%p
  %b Remarks:
  = @property.remarks
%p
  %b Datatype:
  = @property.datatype

= link_to 'Edit', edit_property_path(@property)
\|
= link_to 'Back', properties_path
