= form_for @location do |f|
  - if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :longmin
    = f.text_field :longmin
  .field
    = f.label :longmax
    = f.text_field :longmax
  .field
    = f.label :latmin
    = f.text_field :latmin
  .field
    = f.label :latmax
    = f.text_field :latmax
  .field
    = f.label :iprange
    = f.text_area :iprange
  .actions
    = f.submit 'Save'
