%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Forms
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            / Le styles
            = stylesheet_link_tag    "application", :media => "all"
            = javascript_include_tag "application"
            = csrf_meta_tags
            :css
              body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
              }
            %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
            
            %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
            / Fav and touch icons
            %link{:href => "../assets/ico/favicon.ico", :rel => "shortcut icon"}
            %link{:href => "../assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
            %link{:href => "../assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
            %link{:href => "../assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
            %link{:href => "../assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Forms
          .nav-collapse.collapse
            %ul.nav
              %li
                %a{:href => "/"} Home
              - unless current_user.present?
                %li
                  %a{:href => "/users/sign_in"} User Login
              - else
                %li= link_to "Checkins", checkins_path
                %li= link_to "Items", items_path
                %li= link_to "Locatons", locations_path
                %li= link_to "Units", units_path
                %li= link_to 'Map', "/search"
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Options
                    %b.caret
                  %ul.dropdown-menu
                    %li= current_user.email
                    %li
                      = link_to 'Logout', destroy_user_session_path, :method => :delete
                    %li
                      %a{:href => "#"} Another action
                    %li
                      %a{:href => "#"} Something else here
                    %li.divider
                    %li.nav-header Nav header
                    %li
                      %a{:href => "#"} Separated link
                    %li
                      %a{:href => "#"} One more separated link
          / /.nav-collapse
    .container-fluid
      .row-fluid
        .span12
          = yield
    %hr
      %footer
        %p © Company 2012